body {
    background: whitesmoke;
    font-family: 'Share Tech Mono', monospace;
    }

h1 {
     padding-top: 30px;
     text-align: center;
      }

.PhotoTitle p {
    font-family: 'Abril Fatface', cursive;
    position: absolute;
    top: 520px;
    left: 350px;
    font-weight: 50;
    font-size: 26px;
    }

.slideshow-container {
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
    padding-top: 30px;
    }

.arrow-left {
    position: fixed;
    top: 50%;
    left: 100px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.arrow-right {
    transform: rotate(0.5turn);
    position: fixed;
    top: 50%;
    right: 100px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}