body {
    background: #e8e7e4;
    font-family: 'Abril Fatface', cursive;
    }

    div {
        display: flex;
        justify-content: center;
      }

.left {
    margin-left: 50px;
}

.right{
    margin-right: 50px;
}

h1 {
     text-align: center;
     font-size: 50px;
     letter-spacing: 3px;
      }

aside{
     width: 80px;
     height: 600px;
     background:white;
}

.slideshow-container {
    width: 1000px;
    height: 600px;
    margin: 0;
    }

.slideshow-container img {
    position: relative;
    object-fit: cover; 
}   

.gray-container {
    background-color: black;
    position: absolute;
    top: 600px;
    width: 1000px;
    height: 135px;
    opacity: 0.6;
    }

.slideshow-container h3 {
    position: fixed;
    top: 590px;
    left: 160px;
    color: whitesmoke;
    font-weight: 50;
    font-size: 26px;
    z-index: 10;
    }

.slideshow-container p {
    position: fixed;
    top: 650px;
    left: 160px;
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    z-index: 10;
    }

.arrow-left {
    position: fixed;
    top: 400px;
    left: 50px;
    width: 100px;
    cursor: pointer;
}

.arrow-right {
    transform: rotate(0.5turn);
    position: fixed;
    top: 400px;
    right: 50px;
    width: 100px;
    cursor: pointer;
}
